credentials.json
ansible/roles/City-of-Bloomington.*
ansible/*.retry
data/.*
data/sessions/*
data/applicantFiles
data/meetingFiles
data/legislationFiles
data/reports
data/user
*.mo
.config
.cache
.phpunit.result.cache
screen-*.css*
*-*.js
build
vendor
