{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array types
 * @param array actionLinks (optional)
 #}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1>Add Appointer</h1>
    </header>
    <form method="post" action="{{ uri('appointers.add') }}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="{{ uri('appointers.index') }}" class="btn btn-secondary">Cancel</a>
    </form>
</section>
{% endblock %}