{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array types
 * @param array actionLinks (optional)
 #}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1>Appointers</h1>
        <div class="tools">
            <a href="{{ uri('appointers.add') }}" class="btn btn-primary">Add Appointer</a>
        </div>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointer in appointers %}
            <tr>
                <td>{{ appointer.getName() }}</td>
                <td>
                    <a href="{{ uri('appointers.update') }}?id={{ appointer.getId() }}" class="btn btn-sm btn-secondary">Edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">No appointers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}