{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1>Appointers</h1>
        <div class="tools">
            <a href="{{ uri('appointers.add') }}" class="btn btn-primary">Add Appointer</a>
        </div>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for appointer in appointers %}
            <tr>
                <td>{{ appointer.name }}</td>
                <td>
                    <a href="{{ uri('appointers.update', {'appointer_id': appointer.id}) }}" class="btn btn-sm btn-secondary">Edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2">No appointers found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}