{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Appointer appointer
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header>
        <h1>{{ appointer.getId() ? _('appointer_edit') : _('appointer_add') }}</h1>
    </header>
    <form method="post">
        <fieldset>
            {{ forms.field_text('name', 'name', _('name'), appointer.getName(), true ) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('appointers.index'), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>
{% endblock %}
