@import '../../vendor/City-of-Bloomington/factory-number-one/src/themes/default/scss/modules/_vars-mixins';
@import '../../vendor/City-of-Bloomington/factory-number-one/src/themes/kirkwood/scss/modules/_vars-mixins';

@import 'modules/meetings';

#errorMessages { background-color:$color-error; padding:4px; border-radius:10px; }
#errorMessages h2 { }

#reportForm {
    overflow:auto;

    #seats      { float:right; width:33%; }
    #applicants { margin-right:34%; }
    #committees { max-height:14em; overflow:scroll; }
}

textarea#address { height:3em; }

#contextInfo {
    dl {
        border-top:none;
        dt { float: none; }
        dd { margin-left: 0; }
    }
}

.breadcrumbs ul {
    list-style-type:none;
    margin: 0;
    li {
        display:inline;
        &:not(:last-of-type):after { content: '>'; }
    }
    a {
        font-family: $font-family-heading;
        font-size: .75em; margin-right: 8px;
    }
}

// Tab navigation
#committeeHeader, #seatsHeader {
    nav {
        margin:1em 0;

        a {
            font-family: $font-family-heading;
            background-color: $color-nav1;
            color: $color-content-background;
            padding: $size-gutter;
            border-radius: 4px;

            &:active, &:hover {    color: $color-background-field; }
            &.current { background-color: $color-selected-background; }
        }

        $imageSpace: $font-size-normal * 2;
        #committee_info    { }
        #current_members   { }
        #meetings          { }
        #meetingFiles      { }
        #seats_past        { }
        #past_members      { }
        #applications      { }
        #committee_history { }
    }
}



.offices {
    font-size: .85em;
    opacity: .75;
}
.termDates {
    font-size: .9em;
}
table.terms {
    border-collapse: collapse;
    width: 100%;

    tbody {
        th {
            background-color: $color-border-table;
            border: 1px solid $color-border-input;
            color: $color-content-background;
            vertical-align: top;
            .launcher {
            }
        }
        td {
            background-color: $color-background-field;
            border: 1px solid $color-border-input;
        }
        section {
            table { margin:0;    }
            td    { border:none; }
        }
    }
}


// The following rules are state-based rules that override default rules
// with more specific selectors.
div.carryOver,    tr.carryOver    td { background-color: $color-alert !important; }
div.vacant,       tr.vacant       td { background-color: $color-error !important; }
div.termEndsSoon, tr.termEndsSoon td { background-color: $color-alert !important; }

p {
    max-width: 40em;
}

.pageNavigation ul { list-style-type:none; }
.pageNavigation li { display:inline; margin-right:1em; }
.pageNavigation .current { border:2px solid $color-action; }

a.current { font-weight:bold; }

tr.carryover { background-color:#fc6; }
