{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Definition definition
 * @param array      actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ definition.getEvent() }}</h1>
        <h2>{{ definition.getCommittee().getName() }}</h2>
    </header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    <div>{{ definition.getTemplate() }}</div>
</section>
{% endblock %}
