{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Seat      seat
 * @param Committee committee
 #}
{% extends "html/layouts/committee.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section>
    <header><h2>{{ _('seat_end') }}</h2></header>

    <form method="post" class="usa-form">
        <fieldset       class="usa-fieldset">
            {{ forms.field_date('endDate', 'endDate', _('endDate'), 'now'|date('Y-m-d'), true) }}

            {{ forms.button('submit', _('save'), 'save') }}
            {{ forms.actionLink(uri('seats.view', { seat_id: seat.getId()}), _('cancel'), 'cancel') }}
        </fieldset>
    </form>
</section>

{% endblock %}
