.usa-card__header    { text-align: center; }
.usa-card__container { background-color: transparent; }
.usa-card__img       { background-color: transparent; }

.usa-nav__secondary-links .usa-button { color: white; }

#results a:hover { cursor: pointer; }

tbody th { text-align: left; }
