{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array races
 * @param array actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section class="grid-container">
    <header><h2>{{ _(['race', 'races', 10]) }}</h2></header>
    {{ include('html/partials/actionLinks.twig') }}

    <table>
    {% for r in races %}
    <tr><td>{{ include('html/partials/actionLinks.twig', {actionLinks:r.links}, with_context=false) }}</td>
        <td>{{ r.name }}</td>
    </tr>
    {% endfor %}
    </table>
</section>

{% endblock %}
