{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Person person
 * @param array  actionLinks
 #}
{% extends "html/layouts/default.twig" %}
{% block content %}
<section>
    <header><h2>{{ person.getFullname() }}</h2></header>
    {% if actionLinks %}
    {{ include('html/partials/actionLinks.twig') }}
    {% endif %}

    {{ include('html/people/partials/info.twig') }}
</section>

{% endblock %}
