@import '../reset.css';
/* Set the default styles for common HTML elements */
body { color:black; background-color:white; margin:0px; font-family:sans-serif; font-size:10pt; }

/* Text formatting */
strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }

a { text-decoration:none; cursor:pointer; }
a:link { color:#3366cc; background-color:transparent; }
a:active { color:red; background-color:transparent; }
a:visited { color:#3366cc;  background-color:transparent; }
a:hover { color:#666666; background-color:transparent; }

img { border:0; }

h1 { text-align:left; margin:0; font-size:16pt; font-weight:bold; }
h2 { margin:0; font-size:14pt; font-weight:bold; }
h3 { margin-top:.5em; font-size:12pt; font-weight:bold; }
h4 { margin-top:.5em; font-size:10pt; font-weight:bold; }
h5 { margin-top:.5em; font-weight:bold; }
h6 { margin:0; }

p { margin-top:.5em; margin-bottom:.5em; }

form {  }
fieldset { border:2px solid black; }
legend { border:2px solid black; padding:.5em; background-color:#3366cc; color:white; font-weight:bold; }
label { font-weight:bold; }
.required { color:red; background-color:inherit; }
input { font-family:sans-serif; font-size:8pt; }
button { font-size:8pt; }

table { border-collapse:collapse; border:1px solid black; }
tr { vertical-align:top; }
td { padding-left:.5em; padding-right:.5em; background-color:inherit; }
th { text-align:left; background-color:#dddddd; padding-left:.5em; padding-right:.5em; vertical-align: top; font-weight:bold; }
th a:link,th a:visited { color:#3366cc; background-color:inherit; }
form table { border:none; }

ul { margin-top:0em; }
ul.compact,ul.compact li { list-style-type:none; margin:0; padding:0; }
li.current>a { background-color:#cccccc; width:100%; }


/* Top Banner stuff */
#banner { height:62px; border-bottom:2px solid black; background:#3366cc url('images/citylogo-white.gif') no-repeat; padding-left:80px; }
#application_name { color:white; background-color:#3366cc; text-align:left; padding-top:5px; }
#location_name { color:white; background-color:#3366cc; text-align:left; font-size:12pt; }
#banner a { color:white; background-color:#3366cc; text-decoration:none; }

/* Used to create a menu bar across any div */
.menuBar { width:100%; border-bottom:2px solid black; background-color:#FFFFFF; font-size:12px; }
.menuBar ul { width:100%; height:1em; list-style-type:none; margin:0; padding:0; }
.menuBar li { float:left; margin-left:1.5em; list-style-type:none; }
.menuBar a { font-weight:bold; }
	/* This lets us put small forms into the menubar without hurting the layout too bad */
	.menuBar form { margin:0; padding:0; display:inline; height:1em; }
	.menuBar form fieldset { margin:0; padding:0; border:0; display:inline; }

/* Used to draw fancy bordered boxes around content */
.interfaceBox { border-bottom:2px dotted black; }
.interfaceBox img { margin:0; }

.interfaceBox h1 { background-color:#3366cc; color:white; font-size:14pt; border:2px solid black; font-weight:bold; padding-left:.5em; padding-right:.5em; }
.interfaceBox h1 a { margin:0px; height:20px; }
.interfaceBox h1 a:link,.titleBar a:visited { color:white; background-color:transparent; }
.interfaceBox h1 form { margin:0; padding:0; display:inline; height:1em; }
.interfaceBox h1 form fieldset { margin:0; padding:0; border:0; display:inline; }

/* These are for the boxes on the sides of the page */
.sidebar { width:155px; font-size:12px; margin-top:1em; }
.sidebar ul { list-style-type:none; margin-left:.5em; padding:0; }
.sidebar ul a { display:inline; font-weight:bold; }
.sidebar fieldset { border:0; }
.sidebar legend { display:none; }
.sidebar div { margin-bottom:2em; border:2px solid black; }
.sidebar div h1 { background-color:#3366cc; height:20px; color:white; font-family: serif; font-size:12pt; margin:0; border-top:0; border-right:0; border-left:0; border-bottom:2px solid black; text-align:center; }
.sidebar input { width:140px; }
	h1 form { margin:0; padding:0; display:inline; height:1em; }
	h1 form fieldset { margin:0; padding:0; border:0; display:inline; }

.left { float:left; clear:left; }
.right { float:right; clear:right; }

/* Breadcrumb class for navigational items */
.breadcrumbs ul { margin:0; }
.breadcrumbs li { display:inline; list-style-type:none; }
.breadcrumbs li a { padding-right:8px; background:url('images/breadcrumb.gif') no-repeat right; margin-right:8px; }

/*  mainContent allows for 3 columns,	*/
/*	backendContent allows for 2 columns	*/
#mainContent { background-color:inherit; margin-left:170px; margin-top:1em; }

.contextualMenu { background-color:#fba500; color:black; border:2px solid black; margin-bottom:1em; margin-top:1em; }
.contextualMenu div { display:inline; }
.contextualMenu span.title { background:inherit; color:white; font-size:12pt; font-weight:bold; border:0; padding-left:1em; padding-right:0; }
.contextualMenu ul,.contextualMenu li { display:inline; margin:0; padding:0; list-style-type:none; }
.contextualMenu a {  }
.contextualMenu a:hover { color:white; background-color:inherit; }
	/* This lets us put small forms into the menubar without hurting the layout too bad */
	.contextualMenu form { margin:0; padding:0; display:inline; height:1em; }
	.contextualMenu form fieldset { margin:0; padding:0; border:0; display:inline; }

/* For pages with tab-type system on them */
.tabBar ul { list-style: none; margin:0; padding-bottom:7px; border-bottom:1px solid gray; font-weight:bold; white-space:nowrap; }
.tabBar li { display:inline; margin:0 2px; }
.tabBar a { border-bottom:4px solid white; color:#999999; }
.tabBar a.current { border-color:#ff6600; color:#0066ff; }
.tabBar a:hover { border-color:#ff6600; color:#666666; }

.tabPage { }
.tabPage > .interfaceBox { margin-left:1em; margin-right:1em; }

/* Page Navigation Stuff */
.pageNavigation { }
.pageNavigation li { display:inline; }
.pageNavigation a { }
.pageNavigation button { }

#footer { font-size:10pt; text-align:center; clear:both; margin-top:1em; }
#footer p { font-size: 9px; color: #666666; margin:0 2em 2em 0; }

/*  Custom buttons for forms */
button { cursor:pointer; overflow:hidden; vertical-align:middle; }
/* Rick doesn't want these custom images right now.
button.login { width:52px; height:15px; padding-top:15px; background: url('images/login.gif') no-repeat; border:0; }
button.submit { width:70px; height:15px; padding-top:15px; background: url('images/submit.gif') no-repeat; border:0; }
button.search { width:67px; height:15px; padding-top:15px; background: url('images/search.gif') no-repeat; border:0; }
button.cancel { width:69px; height:15px; padding-top:15px; background: url('images/cancel.gif') no-repeat; border:0; }
button.save { width:52px; height:15px; padding-top:15px; background: url('images/save.gif') no-repeat; border:0; }
button.addLarge { width:52px; height:15px; padding-top:15px; background: url('images/addLarge.gif') no-repeat; border:0; }
button.editLarge { width:52px; height:15px; padding-top:15px; background: url('images/editLarge.gif') no-repeat; border:0; }
button.deleteLarge { width:63px; height:15px; padding-top:15px; background: url('images/deleteLarge.gif') no-repeat; border:0; }
button.start { width:52px; height:15px; padding-top:15px; background: url('images/start.gif') no-repeat; border:0; }
button.print { }
*/
button.addSmall { width:15px; height:15px; padding-top:15px; background: url('images/addSmall.gif') no-repeat; border:0; }
button.editSmall { width:15px; height:15px; padding-top:15px; background: url('images/editSmall.gif') no-repeat; border:0; }
button.deleteSmall { width:15px; height:15px; padding-top:15px; background: url('images/deleteSmall.gif') no-repeat; border:0; }
button.excel { width:16px; height:16px; padding-top:16px; background: url('images/excel.gif') no-repeat; border:0; }
button.printSmall { width:16px; height:16px; padding-top:16px; background: url('images/printer1.png') no-repeat; border:0; }
button.up { width:16px; height:16px; padding-top:16px; background: url('images/up.png') no-repeat; border:0; }
button.down { width:16px; height:16px; padding-top:16px; background: url('images/down.png') no-repeat; border:0; }
button.rssSmall { width:14px; height:14px; padding-top:14px; background:url('images/feed-icon-14x14.png') no-repeat; border:0; }
button.rss { width:28px; height:28px; padding-top:28px; background:url('images/feed-icon-28x28.png') no-repeat; border:0; }
button.ical { width:16px; height:16px; padding-top:16px; background: url('images/date.png') no-repeat; border:0; }
button.kml { width:16px; height:16px; padding-top:16px; background: url('images/kml_feed_small.png') no-repeat; border:0; }

button.previous { width:22px; height:22px; padding-top:22px; background: url('images/previous.png') no-repeat; border:0; }
button.next { width:22px; height:22px; padding-top:22px; background: url('images/next.png') no-repeat; border:0; }
button.first { width:22px; height:22px; padding-top:22px; background: url('images/player_start.png') no-repeat; border:0; }
button.last { width:22px; height:22px; padding-top:22px; background: url('images/player_end.png') no-repeat; border:0; }
a.rss img { margin:0; }

/* Controls how error messages are displayed */
#errorMessages { border:2px solid black; }
#errorMessages h1 { color:red; background-color:inherit; }
#warning { border:2px solid red; }
#warning h1 { color:inherit; background-color:red; font-size:14pt; }

/* Various Styles for text */
.copyright { text-align:center; font-size:10pt; }
.comments { color:red; background-color:inherit; }
.money { text-align:right; }
.void,.void td { text-decoration:line-through; }
.total { border-top:1px solid black; text-align:right; }
.total td { padding-bottom:1em; }
.instructions { }
.unpublished { text-decoration:line-through; }
