#meetings {
    fieldset { border:none; }

    @media all and (min-width: $viewport-medium) {
        .meeting {
            overflow: auto;
            > h2 {
                float: left; width:20%; clear:left;
            }
            > div {
                float:left; width:25%
            }

            input[type=file] {
                width:95%;
                overflow:hidden;
            }
        }
    }
}
