{# templates/html/legislation/types/updateTypeForm.twig #}
{% extends "html/layouts/default.twig" %}

{% block content %}
<main class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1>Edit Legislation Type</h1>
        </div>
        <div class="card-body">
            <form method="post" action="{{ path_for('legislationTypes.update') }}">
                <input name="id" type="hidden" value="{{ type.id }}" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input name="name" id="name" value="{{ type.name }}" required="true" class="form-control" />
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        <input name="subtype" type="checkbox" value="1" id="subtype" class="form-check-input" role="switch" {% if type.subtype %}checked{% endif %}>
                        <label class="form-check-label" for="subtype">Subtype</label>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-success">
                        Save
                    </button>
                    <a class="btn btn-danger" href="{{ path_for('legislationTypes.index') }}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
