{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array actionLinks
 #}
{% for link in actionLinks %}
<a href="{{ link.url }}" class="btn btn-secondary align-self-center {{ link.class ?? '' }}">{{ link.label }}</a>
{% endfor %}
