{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array actionLinks
 #}
<nav class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ _('more') }}
    </button>
    <ul class="dropdown-menu">
        {% for link in actionLinks %}
        <li><a href="{{ link.url }}" class="dropdown-item {{ link.class ?? '' }}">{{ link.label }}</a></li>
        {% endfor %}
    </ul>
</nav>
