/* Tag Styles */
.tags span { padding: 10px 2px; }
.tags .p90 { font-size:200%; }
.tags .p70 { font-size:180%; }
.tags .p50 { font-size:150%; }
.tags .p30 { font-size:125%; }
.tags .p10 { font-size:100%; }
.tags .p0 { font-size:80%; }



#committeeDescription { float:left; width:425px; margin:0 10px 5px 5px; }
#committeeInfo { float:left; clear:right; }
.seats { clear:left; float:left; margin:0px 10px 0px 2px; }
.tags { float:left; clear:both; width:350px; border:1px solid black; background-color:grey; margin:0 15px 15px 0; }
#tagWall { float:left; clear:left; border:1px solid black; overflow:auto; padding:2px; margin:0 10px; }
#content-panel .votingComparison { float:left; clear:right; margin:0 10px; }
#content-panel .legislation { float:left; clear:right; width:600px; margin:0 10px; }
#content-panel .topic { margin:10px 0;}
#content-panel .topic h3 { font-size:1.25em; }
#content_panel .topic h3 .topicDate { display:inline; font-size:.8em; }
.councilMember { float:left; clear:left; margin:0 10px; }
.memberList  {float:left; clear:right; margin:0 10px; }
.votes { float:left; clear:left; margin:0 10px; }
.votingTable { float:left; clear:right; margin:0 10px; }

#personalInfo { float:left; margin:0 10px;}
.memberSeat {float:left; clear:right; margin:0 10px; }
.memberVR { float:left; clear:left; margin:0 10px; width:600px; }
.memberVoteStats { float:left; clear:left; margin:0 10px; }
.memberVoteComparison {float:left; clear:right; margin:0 10px; }
