/* Tag Styles */
.tags { width:200px; float:right; }
.tags .p90 { font-size:180%; }
.tags .p70 { font-size:150%; }
.tags .p50 { font-size:100%; }
.tags .p30 { font-size:80%; }
.tags .p10 { font-size:75%; }
.tags .p0 { font-size:50%; }


#content-panel .topic { margin:10px 0; border-bottom:1px solid #999999;}
#content-panel .topic h3 { font-size:1.3em; }

.pageNavigation { clear:both; }

.topic .yes { height:24px; padding-left:28px; background:url('images/check.gif') top left no-repeat; }
.topic .no { height:24px; padding-left:28px; background:url('images/x.gif') top left no-repeat; }
.topic .absent { height:24px; padding-left:28px; background:url('images/blank.gif') top left no-repeat; }
.topic .abstain { height:24px; padding-left:28px; background:url('images/dash.gif') top left no-repeat; }
.topic .voteSummary a.current { font-weight:bold; }

.memberTable ul { margin:0; padding:0px; }

#personalInfo .memberTable li { list-style-type:none; }
#personalInfo .memberTable .current { padding-left:18px; background-color:gray; }
