{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param string    ROUTE_NAME   Global
 #}

{#
   Several of the routes use a current=0 parameter to designate "past" listings
   To determine which route is the current route, we often need to check for this parameter.
   "Past" routes will have a current=0 parameter in the URL.
   "Current" routes will not have the parameter at all
#}
<header>
    <div>
        <h1>{{ committee.getName() }}</h1>
        {% set vacancies = committee.getVacancyCount() %}
        {% if vacancies %}<span>({{ vacancies }} {{ _(['vacancy', 'vacancies', vacancies]) }})</span>{% endif %}
    </div>
    {% set url     = current_url() %}
    {% set current = url.current is defined and url.current==0 ? false : true %}
    
</header>