{#
 * @copyright 2024-2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 #}
<header>
    <h1>{{ committee.getName() }}</h1>
    {% set v = committee.getVacancyCount() %}
    {% if  v %}<p>({{ v }} {{ _(['vacancy', 'vacancies', v]) }})</p>{% endif %}
</header>
