{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 #}
{% macro personChooser(fieldname, fieldid, person) %}
<span id="{{ fieldid }}-name">{{ person ? person.getFullname() : '' }}</span>
<button class="person usa-button usa-button--unstyled"
    onclick="PERSON_CHOOSER.open(event, '{{ fieldid }}');">
    {{ _('person_change') }}
</button>
{% endmacro %}
