<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation,">
          <ul class="grid-row grid-gap">
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Boards and Commissions - Calendar</a>
            </li>
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Feedback</a>
            </li>
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Help</a>
            </li>
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="javascript:void(0);">Source Code - Github</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>