<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation,">
          <ul class="grid-row grid-gap">
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="https://calendar.google.com/calendar/embed?src=bloomington.in.gov_r7b1mkrme1r8uhl3b5amhb50bc@group.calendar.google.com&ctz=America/New_York">Boards and Commissions - Calendar</a>
            </li>
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="https://bloomington.in.gov/ureport/miscellaneous/53">Feedback</a>
            </li>
            <li class="mobile-lg:grid-row desktop:grid-col-auto usa-footer__primary-content">
              <a class="usa-footer__primary-link" href="https://github.com/City-of-Bloomington/OnBoard">Source Code - Github</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>