<div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,">
        <div class="usa-identifier__container">
            <div class="usa-identifier__logos">
                <a href="" class="usa-identifier__logo"><img class="usa-identifier__logo-img"
                        src="//bloomington.in.gov/static/snowflake-white.svg" alt="&lt;Parent agency&gt; logo" role="img" /></a>
            </div>
            <section class="usa-identifier__identity" aria-label="Agency description,">
                <p class="usa-identifier__identity-domain">bloomington.in.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    <span aria-hidden="true">An </span>official website of the
                    <a href="https://bloomington.in.gov/">City of Bloomington</a>
                </p>
            </section>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item">
                    <a href="https://bloomington.in.gov/accessible" class="usa-identifier__required-link usa-link">Accessibility</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://bloomington.in.gov/contact" class="usa-identifier__required-link usa-link">Contact</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://bloomington.in.gov/city/transparency" class="usa-identifier__required-link usa-link">Transparency</a>
                </li>
                <li class="usa-identifier__required-links-item">
                    <a href="https://bloomington.in.gov/web/privacy" class="usa-identifier__required-link usa-link">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
