<?php
define('APPLICATION_NAME','onboard');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , '/onboard');
#define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
#                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
#                        : $_SERVER['SERVER_NAME']);
define('BASE_HOST', $_SERVER['SERVER_NAME']);
define('BASE_URL' , "$_SERVER[REQUEST_SCHEME]://".BASE_HOST.BASE_URI);

define('RECAPTCHA_SITE_KEY',   '');
define('RECAPTCHA_SERVER_KEY', '');
define('GOOGLE_CREDENTIALS_FILE', __DIR__.'/credentials.json');
define('GOOGLE_USER_EMAIL', 'user@localhost');
define('GOOGLE_CALENDAR_URL', 'https://calendar.google.com');

/**
 * Specify the theme directory
 *
  * Remember to create a symbolic link in public/css to the theme CSS
  * that you declare here.
 *
 * A theme can consist of templates, blocks which will override core.
 * The current theme's screen.css will be included in the HTML head.
 */
define('THEME', 'Kirkwood');

/**
 * Database Setup
 * Refer to the PDO documentation for DSN sytnax for your database type
 * http://www.php.net/manual/en/pdo.drivers.php
 */
$DATABASES = [
    'default' => [
        'driver'   => 'Pdo_Mysql',
        'dsn'      => 'mysql:dbname=onboard;host=localhost',
        'username' => 'onboard',
        'password' => 'something secret',
        'options'  => []
    ]
];

/**
 * Ldap Authentication Configuration
 *
 * This supports doing user authentication from multiple external
 * directories, such as LDAP or ADS. This is required since city staff
 * are in a seperate LDAP directory from public user accounts.
 * Classes that implement AuthenticationInterface should have an entry here.
 */
$LDAP = [
    'Employee' => [
        'classname'          => 'Site\Employee',
        'server'             => 'ldaps://ldap.example.org:636',
        'base_dn'            => 'DC=ldap,DC=example,DC=org',
        'username_attribute' => 'sAMAccountName',
        'user_binding'       => '{username}@bldap.example.org',
        'admin_binding'      => 'admin@ldap.example.org',
        'admin_pass'         => 'secret password'
    ]
];

$SOLR = [
    'onboard' => [
        'scheme'   => 'https',
        'host'     => 'solr.example.org',
        'port'     => 443,
        'core'     => 'onboard',
        'username' => 'onboard',
        'password' => 'something secret'
    ]
];

/**
 * CAS authentication http://www.jasig.org/cas
 *
 * https://wiki.jasig.org/display/CASC/phpCAS
 *
 * phpCAS is a PHP library for handling the calls to the CAS service
 * It is the official library, part of the Jasig CAS project
 */
$CAS = [
    'server' => 'cas.somewhere.org',
    'uri'    => 'cas'
];

define('DATE_FORMAT', 'n/j/Y');
define('TIME_FORMAT', 'H:i:s');
define('DATETIME_FORMAT', 'n/j/Y H:i:s');

define('LOCALE', 'en_US');

define('TERM_END_WARNING_DEFAULT', 60);
define('APPLICATION_LIFETIME_DEFAULT', 90);
define('ADMINISTRATOR_EMAIL', 'someone@localhost');

/**
 * Graylog is a centralized log manager
 *
 * This application supports sending errors and exceptions to a graylog instance.
 * This is handy for notifying developers of a problem before users notice.
 * @see https://graylog.org
 */
#define('GRAYLOG_DOMAIN', 'graylog.example.org');
#define('GRAYLOG_PORT',   12201);
