{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Type   type
 * @param string title
 #}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1>Legislation Action Types</h1>
        <div class="tools">
            <a href="/onboard/legislationActionTypes/update" class="button add">New Action Type</a>
        </div>
    </header>
    <table class="table">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Ordering</th>
            </tr>
        </thead>
        <tbody>
            {% for type in types %}
            <tr>
                <td>
                    <a href="/onboard/legislationActionTypes/update?id={{ type.id }}" class="button edit">Edit</a>
                </td>
                <td>{{ type.name }}</td>
                <td>{{ type.ordering }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">No action types found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
