{#
 * @copyright 2025 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Committee committee
 * @param array     committee_types   Options for committee_type
 * @param array     departments       Options for departments
 #}
{% extends "html/layouts/default.twig" %}
{% import  "html/macros/forms.twig" as forms %}
{% block content %}
<section class="grid-container">
    <header>
        <h1>{{ _('committee_add') }}</h1>
    </header>
    <form class="usa-form usa-form--large" method="post">
        {{ include('html/committees/partials/committee-fields.twig') }}

        {{ forms.button('submit', _('save'), 'save') }}
        {{ forms.actionLink(uri('committees.index'), _('cancel') ) }}
    </form>
</section>
{% endblock %}
