{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param Type   type
 * @param string title
 #}
{% extends "html/layouts/default.twig" %}

{% block content %}
<section>
    <header>
        <h1>Tags</h1>
        <div class="tools">
            <a href="/onboard/tags/add" class="btn btn-primary">Add Tag</a>
        </div>
    </header>
    <ul class="list-group">
        {% for tag in tags %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ tag.name }}
                <a href="/onboard/tags/update?id={{ tag.id }}" class="btn btn-secondary">Edit Tag</a>
            </li>
        {% else %}
            <li class="list-group-item">No tags found.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
