{#
 * @copyright 2024 City of Bloomington, Indiana
 * @license http://www.gnu.org/licenses/agpl.txt GNU/AGPL, see LICENSE
 * @param array     years
 * @param Committee committee
 #}
{% extends "html/layouts/committee.twig" %}
{% block content %}
<section>
    <ul>{% for year, count in years %}
        <li>{{ year }} ({{ count }})</li>
        {% endfor %}
    </ul>
</section>

{% endblock %}
