.full-width {

}

.contextInfo {
    main { overflow:auto; }

    #contextInfo {
        float: right;
        margin: 3rem 0 0 0;
        width: 33%;
    }
    #content-panel {
        float: left;
        width: 64%;
    }
}

footer { clear:both; }
